<form class="form poject-form">
  <div class="form-group">
    <label for="project-name">Project name:</label>
    <input class="form-input" type="text" id="project-name" />
  </div>
  <div class="form-group">
    <label for="">Project description:</label>
    <input class="form-input" type="text" id="description" />
  </div>
    <div class="form-group">
    <label for="">Project funding needed:</label>
    <input class="form-input" type="text" id="description" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>